@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #242424;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  /* display: flex; REMOVED for web standard layout */
  /* place-items: flex-start; REMOVED */
  /* justify-content: center; REMOVED */
  min-width: 320px;
  min-height: 100vh;
  background-color: #f9fafb;
  /* Slight gray for body to distinguish app container if needed, or white. User said "background white". Ill use white for app, maybe gray for body if it's a "mobile app view" */
}